@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F1;
  --foreground: #B1454A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F1;
    --foreground: #B1454A;
    /* --background: #0A0A0E;
    --foreground: #4EBAB5; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-comfortaa);
}

p {
  font-family: var(--font-comfortaa);
}

.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #999999;
  outline: none;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active {
  border-bottom: 1px solid #666666;
  text-align: left;
}

.inline-text {
    position: relative;
    display: inline-block;
}

.inline-text_input {
    font: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.inline-text_input--hidden {
    display: none;
}

.inline-text_input--active {
    display: inline-block;
}

.inline-text_copy {
    cursor: pointer;
}

.inline-text_copy--hidden {
    display: none;
}

.inline-text_copy--active {
    display: inline-block;
}