@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F1;
  --foreground: #B1454A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F1;
    --foreground: #B1454A;
    /* --background: #0A0A0E;
    --foreground: #4EBAB5; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-comfortaa);
}

p {
  font-family: var(--font-comfortaa);
}
